<h2><%= @user.name %>さんがフォローしているユーザー</h2>
<% followed_users.each do |followed_user| %>
  <p>名前：<%= followed_user.name %>さん</p>
  <% if followed_user.provider == "twitter" || followed_user.provider == "facebook" %>
    <%= image_tag followed_user.image_url, size: '30x30' %><br />
  <% else %>
    <%= image_tag followed_user.avatar, size: '30x30' %><br />
  <% end %>
<% end %>
