<h2><%= @user.name %>さんをフォローしているユーザー</h2>
<% followers.each do |follower| %>
  <p>名前：<%= follower.name %>さん</p>
  <% if follower.provider == "twitter" || follower.provider == "facebook" %>
    <%= image_tag follower.image_url, size: '30x30' %><br />
  <% else %>
    <%= image_tag follower.avatar, size: '30x30' %><br />
  <% end %>
<% end %>
