// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//.user_img{
//  width: 30px;
//  height: 30px;
//  border: 1px solid #000;
//}

#user_index{

}

 #user_index a:link{
  color: #333;
}

 #user_index a:visited{
  color: #333;
}

.each_user{
  border: 1px solid #ccc;
  margin: 5px;
  padding: 5px;
}

.email{
  font-size: 10px;
}
